@import url(./master.scss);

$coral: #ff4540;
$lightGrey: #d2d2d2;
$white: #fff;
$black: #000;
$bg: #ededed;

html{
    background: $bg;
    background-image: url(../img/graphic/CoralLine.png);
    background-size: cover;
    background-position: center;
}
@media(max-width:600px){
    html{
        background: $bg;
        background-image: none;
    }
}

p,h2{
    background: $bg;
    padding: .5rem;
}

.index-hero{
    height: 100vh;
    width: 100vw;
    background-image: url(../img/park-house/_IZ07649.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    top: 0%;
    display: flex;
    flex-direction: row;
    align-items: center;
        h1{
            margin:auto;
            color: white;
            font-size: 4rem;
            font-family: Poppins;
            font-weight: 400;
            background: $coral;
            border: 4px solid white;
            padding: .5rem 2rem;
        }
}
@media(max-width: 500px){
    .index-hero h1{
        font-size: 2rem;
    }
}

.index-life-work{
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 5% 0rem;

    /*LIST STYLING*/

ul{
    list-style: none;
    li{
        margin-bottom: 5px;
    }
}
li::before{
    content: '●';
    color: $coral;
    padding-right: 5px;
}

    .h2p{
        margin-left: 5%;
        width: 45%;
        font-family: Poppins;
        z-index: 99;
    }
        h2{
            color: $coral;
            font-weight: 500;
            font-size: 2rem;
            margin-bottom: 2rem;
        }

    .h2pimg1{
        height: 850px;
        position: relative;
        right: -10%;
        z-index: 3 !important;
    }

    .h2pimg2{
        width: 1000px;
        bottom: 0;
        z-index: -1;
    }
}

    
@media(max-width:650px){
    p,li{
        font-size: .8rem;
    }
}
    @media(max-width:950px){
        .index-life-work .h2pimg1{
           height: 500px;
    }}
    @media(max-width:950px){
    .h2p .h2pimg2{
            width: 500px;
        }
    }
    
    @media(max-width:550px){
        .index-life-work{
           flex-direction: column;
           .h2p{
               margin-bottom: 2rem;
               width: 90%;
           }
           .h2pimg1{
            position: relative;
            height: auto;
            width: 400px;
        }
        .h2p .h2pimg2{
            width: 400px;
            height: auto;
        }
        }
    }

.post-index-hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    font-family: Poppins;
    text-align: center;
    h3{
        color: $coral;
        font-weight: 400;
        font-size: 1.5rem;
        margin-bottom: .5rem;
        background: $bg;
    }
    p{
        width: 70%;
    }
}
@media(max-width:825px){
    .post-index-hero{
        padding: 4rem 1.5rem;
        p{
            width: 90%;
        }
    }

}

.station-container{
    height: auto;
    width: 100vw;
    background: $coral;
    color: white;
    font-family: Poppins;
    padding: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
        h3{
            font-weight: 400;
            font-size: 2rem;
            margin-bottom: 1rem;
        }
    ul{

        li{
            margin: 1rem;
        }
        .plus-li{
            list-style: none;
            margin: 0.1rem 0rem 0rem 1rem !important;
        }
        .plus-li::before{
            content: '+';
        }
    }

    .latimer,
    .white-city,
    .wood-lane{
            img{
                padding: .5rem;
                height: 300px;
                width: auto;
            }
    }

}

@media(max-width:900px){
    .station-container{
        padding: 2rem;
    .latimer,
    .white-city,
    .wood-lane{
            img{
                padding: .5rem;
                height: 200px;
                width: auto;
            }
    }
}
}
@media(max-width:500px){
    .station-container{
        padding: 2rem;
    .latimer,
    .wood-lane{
            img{
                padding: .5rem;
                height: 150px;
                width: auto;
            }
    }
    .white-city img{
        padding: .5rem;
        height: 135px;
    }
}
}

.bottom-menu{
    height: auto;
    float: right;
    margin: 2rem 5rem;
    z-index: 999;
        ul{
            width: 100%;
            list-style-type: none !important;
            font-family: Poppins;
            border-bottom: 1px solid $lightGrey;
                li{
                    color: $coral;
                    text-decoration: none;
                    border-top: 1px solid $lightGrey;
                    width: 10rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-weight: 200;
                    padding: .5rem;
                    transition: .5s ease;
                }
        }
        li:hover{
            background: #f4f4f4;
        }
} 