@import url(./master.scss);

$coral: #ff4540;
$lightGrey: #d2d2d2;
$white: #fff;
$black: #000;
$bg: #ededed;

html{
    background: $bg;
    background-image: url(../img/graphic/CoralLine.png);
    background-size: 100%;
    background-position: center;
}
@media(max-width:600px){
    html{
        background: $bg;
        background-image: none;
    }
}

p,h2{
    background: $bg;
    padding: .5rem;
}

.index-hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    z-index: 1;
/*     background-image: url(../img/images/homepage-hero.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
        video{
            height: auto;
            width: 100%;
            z-index: -1;
            margin-top: -10px;
        }



.video-portrait{
    display: none;
}

.fa-volume-up,.fa-play{
    color: whitesmoke;
    font-size: 2rem;
    position: absolute;
    bottom: 10%;
    left: 2%;
    cursor: pointer;
    transition: .8s ease;
}
.fa-volume-up:hover{
    color: $coral;

        }
.fa-play{
    display: none;
}
    }

    @media(max-width: 500px){
        .index-hero{
            video{
                height: 50vh;
                width: auto;
            }
            .fa-play{
                display: flex;
            }
            .fa-volume-up{
                display: none;
            }
        }
    }

    .full-video-link{
        z-index: 2;
        position: absolute;
        bottom: 2%;
        left: 1.5%;
        color: white;
        font-family: Poppins;
        border: 2px solid white;
        text-transform: uppercase;
        padding: .5rem 1rem;
        transition: .4s ease;
        cursor: pointer;
        background: $coral;
            a{
                color: white;
                text-decoration: none;
                transition: .4s ease;
            }
    }
    .full-video-link:hover{
        color: $lightGrey;
        border: 2px solid $lightGrey;
            a{
                color: $lightGrey;
            }
    }


    .parkhouse-logo-container{
        height: auto;
        width: 100vw;
        background-color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .parkhouse-logo-container img{
        height: 500px;
        width: auto;
    }
    @media(max-width:900px){
        .parkhouse-logo-container img{
            height: 500px;
            width: auto;
        }
    }
    @media(max-width:600px){
        .parkhouse-logo-container img{
            height: 300px;
            width: auto;
        }
    }


    /*POST HERO PAGE CONTAINERS START*/

.index-life-work{
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 5% 0rem;
    .h2p{
        margin-left: 5%;
        width: 45%;
        font-family: Poppins;
        z-index: 99;

    }
        h2{
            color: $coral;
            font-weight: 500;
            font-size: 2rem;
            margin-bottom: 2rem;
        }

    .h2pimg1{
        width: auto ;
        height: 850px;
        position: absolute;
        right: -10%;
        z-index: 3;
    }
    .h2pimg2{
        width: 1000px;
        margin-top: 4rem;
    }
}
@media(max-width:950px){
    .index-life-work .h2pimg1,{
       height: 500px;
}
.index-life-work .h2pimg2{
        width: 500px;
    }
}

@media(max-width:550px){
    .index-life-work{
       flex-direction: column;
       .h2p{
           width: 90%;
           margin-bottom: 2rem;
       }
       .h2pimg1{
        position: relative;
        width: 300px;
    }
    .h2pimg2{
        margin-top: -5rem;
        }
    }
}

.adaptable-space{
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 5% 0rem;
    .as{
        margin-left: 5%;
        width: 45%;
        font-family: Poppins;
        z-index: 99;
    }
        h2{
            color: $coral;
            font-weight: 500;
            font-size: 2rem;
            margin-bottom: 2rem;

        }
    .asimg1{
        width: auto ;
        height: 850px;
        position: absolute;
        right: -10%;
        z-index: 3;
    }
    .asimg2{
        width: 1000px;
        margin-top: 4rem;
    }
}


@media(max-width:950px){
    .adaptable-space .asimg1{
       height: 500px;
}
.adaptable-space .asimg2{
        width: 500px;
    }
}

@media(max-width:550px){
    .adaptable-space{
       flex-direction: column;
       .as{
           width: 90%;
           margin-bottom: 2rem;
       }
       .asimg1{
        position: relative;
        width: 300px;
    }
    .asimg2{
        margin-top: -5rem;
        }
    }
}

.designed-restore{
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 5% 0rem;
    .dr{
        margin-left: 5%;
        width: 45%;
        font-family: Poppins;
        z-index: 99;
    }
        h2{
            color: $coral;
            font-weight: 500;
            font-size: 2rem;
            margin-bottom: 2rem;

        }
    .drimg1{
        width: auto ;
        height: 850px;
        position: absolute;
        right: -10%;
        z-index: 3;
    }
    .drimg2{
        width: 1000px;
        margin-top: 4rem;
    }
}

@media(max-width:950px){
    .designed-restore .drimg1{
       height: 500px;
}
.designed-restore .drimg2{
        width: 500px;
    }
}

@media(max-width:550px){
    .designed-restore{
       flex-direction: column;
       .dr{
           width: 90%;
           margin-bottom: 2rem;
       }
       .drimg1{
        position: relative;
        width: 300px;
    }
    .drimg2{
        margin-top: -5rem;
        }
    }
}

.index-life-work{
    transform: scale(.9);
}
    
@media(max-width:650px){
    p{
        font-size: .8rem;
    }
}